
Binaries
Intermediate
DerivedDataCache
Saved
.vscode
.vs
_docs/
.vsconfig
VisualStudioTools/
/Content/*
.qwen
wiki

AGENTS.md

# Remove generated Custom Attribute Sets
CustomAttributeSets/

# Remove Solution Files
*.sln
*.slnx

# Remove Visual Studio Tools Editor Config
.editorconfig